html, body {
    width: 100%;
    height: 100%;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', 'sans-serif';
}

body {
    height: 100%;
    width: 100%;
    background-color: rgb(252, 164, 166);
}

.title {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}

.mainBlock {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main {
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.doptext1{
    position:absolute;
    top:50px;
    right:500px;
}

.doptext2{
    position:absolute;
    top:50px;
    right:390px;
}

.doptext3{
    position:absolute;
    top:50px;
    right:280px;
}

.doptext4{
    position:absolute;
    top:50px;
    right:170px;
}

.images {
    position: relative;
    width: 600px;
    height: 500px;
    position: absolute;
    right:300px;
    top:100px;
}

.Coffee_3d{
    position:absolute;
    top:200px;
    left:300px;
}

.Lets_help{
    position: absolute;
    top:350px;
    left:300px;
}

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 150px;
    margin-top: 25px;
    margin-right: 230px;
    font-size: 8px;
    color: white;
    background-color: rgb(193, 87, 106);
    border-radius: 10px;
    cursor: pointer;
    position:absolute;
    top:410px;
    left: 300px;
}


.images img {
    width: 584px;
    height: 451px;
    position: absolute;
    right:300px;
    top:100px;
}

#image6 {
    animation: image6 3s ease-in-out infinite;
}

@keyframes image6 {
    0% {
        transform: translate(0, 0);
    }
    22% {
        transform: translate(85px, -85px);
    }
    46% {
        transform: translate(-40px, 40px);
    }
    72% {
        transform: translate(20px, -20px);
    }
    100% {
        transform: translate(0, 0);
    }
}

#image1 {
    animation: image1 3s ease-in-out infinite;
}

@keyframes image1 {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(85px, -85px);
    }
    50% {
        transform: translate(-40px, 40px);
    }
    75% {
        transform: translate(20px, -20px);
    }
    100% {
        transform: translate(0, 0);
    }
}

#image2 {
    animation: image2 3s ease-in-out infinite;
}

@keyframes image2 {
    0% {
        transform: translate(0, 0);
    }
    23% {
        transform: translate(85px, -85px);
    }
    49% {
        transform: translate(-40px, 40px);
    }
    76% {
        transform: translate(20px, -20px);
    }
    100% {
        transform: translate(0, 0);
    }
}

#image3 {
    animation: image3 3s ease-in-out infinite;
}

@keyframes image3 {
    0% {
        transform: translate(0, 0);
    }
    22% {
        transform: translate(85px, -85px);
    }
    50% {
        transform: translate(-40px, 40px);
    }
    72% {
        transform: translate(20px, -20px);
    }
    100% {
        transform: translate(0, 0);
    }
}

#image4 {
    animation: image4 3s ease-in-out infinite;
}

@keyframes image4 {
    0% {
        transform: translate(0, 0);
    }
    24% {
        transform: translate(85px, -85px);
    }
    46% {
        transform: translate(-40px, 40px);
    }
    76% {
        transform: translate(20px, -20px);
    }
    100% {
        transform: translate(0, 0);
    }
}

#image5 {
    animation: image5 3s ease-in-out infinite;
}

@keyframes image5 {
    0% {
        transform: translate(0, 0);
    }
    23% {
        transform: translate(85px, -85px);
    }
    47% {
        transform: translate(-40px, 40px);
    }
    74% {
        transform: translate(20px, -20px);
    }
    100% {
        transform: translate(0, 0);
    }
}