* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

.site {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(248, 206, 133), rgb(245, 187, 88));

}

.podbck{
    width: 1400px;
    height: 800px;
    background: rgb(222, 168, 78);
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); 
        box-shadow: 0 17px 17px -3px rgba(0, 1, 0, .5);
        border-radius: 15px;
}

.img_ghost{
    width: 600px;
    height: 600px;
    float: 2200px left;
    position: absolute; 
    top: 160px; 
    right: 35px;
    border-radius: 50px;
    margin: 20px;
}

.xcompany{
    margin: 0;
    position: absolute; 
    top: 40px; 
    left: 135px;
}

.doptext1{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: flex-start;
    position:absolute;
   font-size: 25;
   position: absolute; 
    top: 60px; 
    right: 345px;
}
.doptext2{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: flex-start;
    position:absolute;
   font-size: 25;
   position: absolute; 
    top: 60px; 
    right: 235px;
}

.doptext3{
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: flex-start;
    position:absolute;
   font-size: 25;
   position: absolute; 
    top: 60px; 
    right: 125px;
}

.infoblock{
    position:absolute;
    bottom: 60px;
    left:550px;
}

.error404{
    position:absolute;
    top: 190px;
    left:225px;
}
.hey{
    font-family: 'Poppins', sans-serif;   
    position:absolute;
    top: 160px;
    left:235px;
    font-size: 48px;
}

.wecant{
    position:absolute;
    top: 390px;
    left:235px;
    opacity:0,25;
}

.knp_go{
    position: absolute;
    top: 475px;
    left:235px;
    background-color: black;
    height:65px; 
    width:145px;
    border-radius:40px;
}

.textbut{
    position: absolute;
    top: 495px;
    left: 260px;
}
