* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

.site {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(255, 206, 99), rgb(236, 175, 61));

}

.podbck{
    width: 1400px;
    height: 800px;
    background: rgb(216, 159, 54);
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); 
        box-shadow: 0 17px 17px -3px rgba(0, 1, 0, .5);
        border-radius: 30px;
}

.img_ghost{
    width: 400px;
    height: 400px;
    box-shadow: 0 3px 3px -3px rgba(0, 1, 0, .5);
}

